/jo_plugin/JoFileMods/nbproject/private/
/jo_sm/nbproject/private/
/SMEdit/nbproject/private/
/jo_sm/build/
/jo_sm/dist/
/jo_plugin/JoFileMods/build/
/jo_plugin/JoFileMods/dist/
/SMEdit/dist/
/SMEdit/build/